# Pin nixpkgs to a specific commit with the Node version you want
[phases.setup]
nixpkgsArchive = "51ad838b03a05b1de6f9f2a0fffecee64a9788ee"

# You can also customize commands if needed
[phases.install]
cmds = [
  "npm install"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npm start"
