.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
  }
.headerContainer {
  border-bottom: 2px solid var(--seperator-color);
  top: 0;
  z-index: 10;
}
.headerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.headerTitleSection {
  flex: 1;
}
.headerTitle {
  font-size: 2rem;
  font-weight: 700;
}
.headerSubtitle {
  font-size: 1.25rem;
  color: var(--subtitle-text);
  margin-top: 4px;
}

.main {
  padding-top: 3rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.description a {
  color: var(--primary-color);
  text-decoration: underline;
}
.profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-block: 2rem;
}
.profileBox {
  border: 2px solid var(--main-text);
  padding: 2rem;
  width: 100%;
  height: 10rem;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}



    @media (max-width: 768px) {
      .container {
        padding: 0 0.3rem;
      }
      .headerTitle {
        font-size: 1.8rem;
      }
      .headerSubtitle {
        font-size: 14px;
      }
      .description {
        font-size: 1rem;
      }
    }