.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
  }
.headerContainer {
  border-bottom: 2px solid var(--seperator-color);
  top: 0;
  z-index: 10;
}
.headerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.headerTitleSection {
  flex: 1;
}
.headerTitle {
  font-size: 2rem;
  font-weight: 700;
}
.headerSubtitle {
  font-size: 1.25rem;
  color: var(--subtitle-text);
  margin-top: 4px;
}

.main {
  padding-top: 3rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.description a {
  color: var(--primary-color);
  text-decoration: underline;
}
.profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-block: 2rem;
  justify-content: flex-start;
}
.profileBox {
  border: 2px solid var(--main-text);
  padding: 1rem;
  width: 100%;
  height: 10rem;
  max-width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.profileBox:hover {
  border-color: var(--primary-color);
  animation: profileFade 0.3s ease-in-out;
}

@keyframes profileFade {
    0% {
        border-color: var(--primary-color);
    }
    50% {
        border-color:rgb(255, 247, 176);
        box-shadow: 0 0 10px rgb(255, 247, 176);
    }
    100% {
      box-shadow: none;
        border-color: var(--primary-color);
    }
}
.roleChip {
  background-color: var(--main-text);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  color: var(--main-bg);
}
.codeIcon {
  width: 2.5rem;
  height: 5rem;
}



    @media (max-width: 768px) {
      .container {
        padding: 0 0.3rem;
      }
      .headerTitle {
        font-size: 1.8rem;
      }
      .headerSubtitle {
        font-size: 14px;
      }
      .description {
        font-size: 1rem;
      }
      .profiles {
        margin-block: 1rem;
        justify-content: center;
      }
    }