@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #ffffff;
  --subtitle-color: #4b5563;
  --text-color: #000000;
  --border-color: #e0e0e0;
  --skeleton-bg: #e2e8f0;
  --bg-infobox: #e9e9ea;
  --price-color: #2563eb;
  --primary-color: #f6c32c;
  --vegan-color: #1ea750;
  --newsbox-bg: #ffba42;
  --semiop-bg:rgba(255, 255, 255, 0.5)
}

[data-theme="dark"] {
  --bg-color: #121212;
  --subtitle-color: #a8afb9;
  --text-color: #ffffff;
  --border-color: #333333;
  --skeleton-bg: #1f2937;
  --bg-infobox: #333338;
  --price-color: #3b82f6;
  --primary-color: #f6c32c;
  --vegan-color: #22c55e;
  --newsbox-bg: #ffa203;
  --semiop-bg:rgba(255, 255, 255, 0.5)
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}