.headerButtonSection {
  display: flex;
  gap: 0.6rem;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
}

.dayContainer {
  filter: var(--eyedef-filter);
  padding: 0rem 0;
  margin-bottom: 4rem;
}
.dayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--subtitle-text);
  margin: 1.3rem 0;
}

.dayTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.skeletonGrid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.skeleton {
  animation: pulse 1.3s infinite;
  background-color: var(--skeleton-bg);
  border-radius: 0.5rem;
  }
  .skeletonContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .skeletonBox {
    width: 100%;
    height: 12rem;
  }
  .skeletonLine {
    width: 40%;
    margin-top: 0.5rem;
    height: 1.2rem;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  .mealList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .newsBox {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    background-color: rgba(255, 68, 0, 0.677);
    color: var(--main-text);
    cursor: pointer;
  }
  .newsTitle {
    color: var(--main-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  .newsText {
    color: var(--main-text);
    font-size: 0.9rem;
  }


    @media (max-width: 768px) {
      .mealList {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0.55rem;
      }
      [data-layout="grid"] .mealList {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.5rem;
      }
      .skeletonGrid {
        margin-top: 3.6rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
      }
      .skeletonContainer {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
      }
      .skeletonBox {
        width: 40%;
        height: 8rem;
      }
      .skeletonLine {
        width: 12rem;
        margin-top: 0.5rem;
        height: 1.2rem;
      }
      .headerButtonSection {
        justify-content: flex-end;
      }
      .dayHeader {
      margin: 0.7rem 0;
      }
    }

    
    @media (min-width: 769px) and (max-width: 1024px) {
      .mealList {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.7rem;
      }
      [data-layout="grid"] .mealList {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.5rem;
      }
      .skeletonGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
      .headerButtonSection {
        justify-content: flex-end;
      }
    }
