
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0.3rem;
  }
  /* Header Styles */
.headerContainer {
  background-color: --bg-color;
  border-bottom: 1px solid var(--border-color);
  top: 0;
  z-index: 10;
}

.headerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.headerButtonSection {
  display: flex;
  gap: 0.6rem;
  justify-content: flex-end;
  padding: 1rem 0;
}

.headerTitleSection {
  flex: 1;
}

.headerTitle {
  font-size: 25px;
  font-weight: 700;
}

.headerSubtitle {
  font-size: 14px;
  color: var(--subtitle-color);
  margin-top: 4px;
}
.main {
  flex-grow: 1;
  padding: 0rem 0;
}
.dayContainer {
  padding: 0rem 0;
  margin-bottom: 4rem;
}
.dayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--subtitle-color);
  margin: 1rem 0;
}

.dayTitle {
  font-size: 1.3rem;
  font-weight: 600;
}

.skeletonGrid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
.skeleton {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 280px;
  background-color: var(--skeleton-bg);
  animation: pulse 1.3s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  .mealGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.7rem;
  }

  
  .mealGridMobileNew {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  
  .mealCard {
    position: relative; 
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--border-color);
  }
  
  .mealCard:hover {
    transform: scale(1.01);
  }
  
  .mealImage {
    width: 100%;
    height: 7rem;
    object-fit: cover;
  }

  .bookmarkContainer {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    padding: 0.6rem;
    display: flex;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: var(--semiop-bg);
  }
  .bookmark {
    fill: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }

  .bookmarkActive {
    fill: rgb(234, 151, 8);
    color: rgb(234, 151, 8);
  }
  
  .mealInfo {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.3rem
  }
  
.mealLocation {
  font-size: 12px;
  background-color: var(--bg-infobox);
  color: --subtitle-color;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.3rem;
  align-items: center;
}
.veganIcon {
  color: var(--vegan-color);
}
  
  .mealTitle {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    flex-grow: 1;
  }
  
  .mealFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid --border-color;
  }
  
  .mealPrice {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--price-color);
  }
  
  .starRating {
    display: flex;
    align-items: center;
  }
  
  .star {
    width: 0.9rem;
    height: 0.9rem;
  }
  
  .starFilled {
    color: var(--primary-color);
    fill: currentColor;
  }
  
  .starEmpty {
    color: var(--info-box-bg);
  }
  
  .ratingCount {
    margin-left: 0.25rem;
    font-size: 0.875rem;
    color: var(--subtitle-color);
  }

  .newsBox {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: var(--newsbox-bg);
    cursor: pointer;
  }
  .newsText {
    font-size: 1rem;
    color: var(--bg-color);
  }
  
  .footer {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--bg-color);
    padding: 1rem 0;
    text-align: center;
    color: var(--subtitle-color);
  }
  
  .footerLink {
    margin-left: 1rem;
  }
  
  .footerLink:hover {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    .mealGrid {
      grid-template-columns: repeat(2, 1fr);
    }
    .headerSubtitle {
      font-size: 1.25rem;
    }
    .mealImage {
      width: 100%;
      height: 12rem;
    }
    .mealInfo {
      padding: 1rem;
    }
    .dayTitle {
      font-size: 1.5rem;
    }
    .mealGrid {
      gap: 1.5rem;
    }
    .mealPrice {
      font-size: 1rem;
    }
    .container {
      padding: 0 2rem;
    }
    .dayHeader {
      margin: 1.3rem 0;
    }
    .star {
      width: 1.2rem;
      height: 1.2rem;
    }
    .headerButtonSection {
      justify-content: flex-start; 
    }
  }
  
  @media (min-width: 1024px) {
    .mealGrid {
      grid-template-columns: repeat(3, 1fr);
    }
    .button, .uploadButton {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
    .mealTitle {
      font-size: 1rem;
      margin-bottom: 0.5;
    }
    .skeletonGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }