.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.description a {
  color: var(--primary-color);
  text-decoration: underline;
}

.installButton {
  display: flex;
  background-color: var(--primary-color);
  color: var(--main-bg);
  border: none;
  padding: 0.5rem 0.8rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.5rem;
}
.arrow {
  margin-left: 0.5rem;
}

.disclaimer {
  font-size: 0.8rem;
  color: var(--subtitle-text);
}


    @media (max-width: 768px) {
      .headerTitle {
        font-size: 1.8rem;
      }
      .headerSubtitle {
        font-size: 14px;
      }
      .description {
        font-size: 1rem;
      }
    }