/* Popup Styles */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadein 0.3s ease-in-out;
    overflow: hidden;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  .popupContent {
    background-color: var(--bg-color);
    border-radius: 8px;
    max-width: 700px;
    width: 90%;
    height: 90%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .popupImageContainer {
    position: relative;
  }
  
  .popupImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .overlayActionsBar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 0.5rem;
  }
  
  .popupActionButton {
    color: black;
    background-color: var(--semiop-bg);
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupDetails {
    padding: 0.8rem 1rem;
  }
  
  .popupTitle {
    font-size: 1.5rem;
    margin: 0.6rem 0;
    color: var(--text-color);
  }
  
  .popupLocation {
    font-size: 0.85rem;
    background-color: var(--bg-infobox);
    color: --subtitle-color;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    width: fit-content;
  }
  
  .veganIcon {
    color: var(--vegan-color);
  }
  
  .popupPriceRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0;
  }
  
  .popupPrice {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--price-color);
  }
  
  .popupIngredients h3,
  .popupDietaryInfo h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }
  
  .popupIngredients ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .starRating {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
  }

  .popupRating {
    display: flex;
    align-items: center;
  }
  
  .star {
    width: 1.3rem;
    height: 1.3rem;
  }
  
  .starFilled {
    color: var(--text-color);
    fill: currentColor;
  }

  .starHover {
    color: var(--primary-color);
    fill: currentColor;
  }
  
  .starEmpty {
    color: var(--info-box-bg);
  }
  
  .ratingCount {
    margin-left: 0.25rem;
    font-size: 0.875rem;
    color: var(--subtitle-color);
  }
  
  .dietaryTag {
    background-color: var(--text-color);
    color: var(--bg-color);
    margin-right: 0.5rem;
    margin-top: 0.4rem;
  }
  .dietaryTag:hover {
    background-color: var(--primary-color);
  }
  
  .commentsSection {
    padding-top: 1rem 1rem;
    display: flex;
    flex-direction: column;
  }
  .commentInfo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }
  .commentDate {
    font-size: 0.8rem;
    color: var(--subtitle-color);
  }
  .commentsTitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }
  .commentText {
    gap: 0.5rem;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .ownComent {
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .foreignComment {
    margin-bottom: 1rem;
    border-left: 5px solid var(--border-color);
    border-radius: 8px;
    padding: 0.4rem;
  }
  .commentInput {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--bg-infobox);
    border-radius: 4px;
    max-height: 100px;
    min-height: 40px;
  }
  .commentCounter {
    font-size: 0.8rem;
    color: var(--subtitle-color);
    text-align: right;
  }
  .commentButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .commentButton {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: scale 0.3s;
  }
  .commentButton:hover {
    scale: 1.01;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .popupContent {
      width: 95%;
    }
    .popupTitle {
      font-size: 1.1rem;
    }
    .popupLocation {
      font-size: 0.9rem;
    }
    .popupPrice {
      font-size: 1rem;
    }
    .popupContent {
      width: 100%;
      max-height: 100vh;
      height: 100%;
  }
  
  }
