/* Popup Styles */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: fadein 0.3s ease-in-out;
    overflow: hidden;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  .popupContent {
    background-color: var(--bg-color);
    border-radius: 0.63rem;
    max-width: 700px;
    width: 90%;
    height: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .popupImageContainer {
    position: relative;
  }
  
  .popupImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .overlayActionsBar {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 0.5rem;
  }
  .overlayLocationBar {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    gap: 0.5rem;
  }

  .popupLocation {
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--bg-infobox);
    color: --subtitle-color;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    border: var(--contrast-border);
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    width: fit-content;
    box-shadow: var(--contrast-shadow);
  }
  
  .veganIcon {
    color: var(--vegan-color);
  }
  
  .popupActionButton {
    color: var(--text-color);
    background-color: var(--bg-infobox);
    border: var(--contrast-border);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    box-shadow: var(--contrast-shadow);
  }
  .dropdownMenuContent {
    z-index: 11;
    background-color: var(--bg-color);
    border-radius: 0.63rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .dropdownMenuSeparator {
    border-bottom: 1px solid var(--border-color);
  }
  .dropdownMenuItem {
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.43rem;
  }
  .dropdownMenuItem:hover {
    background-color: var(--bg-infobox);
  }

  .bookmark {
    color: var(--text-color);
  }

  .bookmarkActive {
    fill: red;
    color: red;
  }
  .popupDetails {
    padding: 0.8rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
  }
  
  .popupTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .popupTitleBullets {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color);
    list-style-type: disc;
    padding-left: 1.1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .popupTopbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popupPriceRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popupPrice {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--price-color);
  }

  .starRating {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
  }

  .popupRating {
    display: flex;
    align-items: center;
  }
  
  .star {
    width: 1.3rem;
    height: 1.3rem;
  }
  
  .starFilled {
    color: var(--primary-color);
    fill: var(--primary-color);
  }

  .starHover {
    color: var(--primary-color);
    fill: currentColor;
  }
  
  .starEmpty {
    color: var(--border-color);
  }
  
  .ratingCount {
    margin-left: 0.25rem;
    font-size: 0.875rem;
    color: var(--subtitle-color);
  }

  .divider {
    height: 1px;
    background-color: var(--border-color);
    margin: 0.5rem 0;
  }

  .additivesSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .additivesTitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
  .additivesContext {
    color: var(--subtitle-color);
    font-weight: 500;
    font-size: 0.85rem;
  }
  
  .dietaryTag {
    background-color: var(--chip-bg);
    color: var(--chiptext-color);
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0.15rem 0.15rem;
    padding: 0.4rem 0.6rem;
    border: var(--contrast-border);
  }
  .dietaryTag:hover {
    box-shadow: inset 0 0 0 1px var(--primary-color);
    background-color: var(--chip-bg);
  }

  .altLabel {
    color: var(--infotext-color);
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .altText {
    color: var(--vegan-color);
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 0.3rem;
  }
  
  .commentsSection {
    display: flex;
    flex-direction: column;
  }
  .commentInfo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }
  .commentDate {
    font-size: 0.8rem;
    color: var(--subtitle-color);
  }
  .commentsTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
  }
  .commentText {
    gap: 0.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  .ownComent {
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .foreignComment {
    margin-bottom: 1rem;
    border-left: 5px solid var(--border-color);
    border-radius: 8px;
    padding: 0.4rem;
  }
  .commentInput {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    background-color: transparent;
    border-radius: 4px;
    max-height: 120px;
    min-height: 60px;
  }
  .commentCounter {
    font-size: 0.8rem;
    color: var(--subtitle-color);
    text-align: right;
  }
  .commentButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .commentButton {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: scale 0.3s;
  }
  .commentButton:hover {
    scale: 1.01;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .popupTitle {
      font-size: 1.2rem;
    }
    .popupLocation {
      font-size: 0.9rem;
    }
    .popupPrice {
      font-size: 1.6rem;
    }
    .popupContent {
      width: 100%;
      max-height: 100vh;
      height: 100%;
  }
  .popupDetails {
    padding: 0.8rem 0.8rem;
  }
  .overlayLocationBar {
    position: fixed;
  }
  .overlayActionsBar {
    position: fixed;
  }
  }
