.scrollToTopButton {
  position: fixed;
  bottom: 5rem;
  background-color: var(--darkbox-bg);
  color: var(--main-text);
  border: none;
  border-radius: 6px;
  height: 2rem;
  padding: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}

.scrollToTopButton:hover {
  background-color: var(--primary-color);
}

.popupCloseButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--main-text);
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.popupTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

.popupTabs {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
}

.popupTabsList {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.popupTabsTrigger {
  flex: 1;
  border-bottom: var(--seperator-color) solid 2px;
}

.popupTabsTrigger[data-state="active"] {
  border-bottom: var(--primary-color) solid 3px;
  font-weight: bold;
}

.popupOption {
  display: flex;
  align-items: center;
  margin: 1rem 0.5rem;
  gap: 0.8rem;
}

.popupOptionLabel {
  font-size: 1.05rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.popupOptionDescription {
  font-size: 0.9rem;
  color: var(--subtitle-text);
}

.popupUserContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 1rem;
}

.activitySection {
  display: flex;
  flex: 1;
  flex-direction: row;
  border-radius: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

.activityBlob {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--darkbox-border);
  box-shadow: var(--lightmode-shadow);
}

.userAccounttext {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.popupSelect {
  width: 55%;
  padding: 0.5rem;
  border: 1px solid var(--darkbox-border);
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--main-text);
  background-color: var(--darkbox-bg);
}

.popupLabel {
  font-size: 0.9rem;
  color: var(--subtitle-text);
  align-items: center;
  display: flex;
  gap: 0.2rem;
}

.popupInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--darkbox-border);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: var(--main-text);
  background-color: transparent;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.popupButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--main-text);
  color: var(--main-bg);
  transition: background-color 0.3s;
}

.popupButton:hover {
  background-color: var(--subtitle-text);
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: var(--seperator-color);
  margin: 1rem 0;
}


@media (min-width: 768px) {
  .scrollToTopButton {
    bottom: 2rem;
    right: 4rem;
    transform: translateX(50%);
  }

  .mobileLayoutOption {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}